# GitHub Actions Self-hosted immutable runner"
# Copyright (c) Kouji Matsui (@kekyo@mi.kekyo.net)"
# License under MIT.
# https://github.com/kekyo/ga_runner/

[Unit]
Description=GitHub Actions runner (@INSTANCE_NAME@)
After=network.target

[Service]
Type=simple
ExecStart="@SCRIPT_PATH@/run.sh" "@CONTAINER_NAME@" "@INSTANCE_NAME@"
ExecStop="@SCRIPT_PATH@/stop.sh" "@CONTAINER_NAME@"
TimeoutSec=300
Restart=always
RestartSec=5
RestartPreventExitStatus=137 143

[Install]
WantedBy=multi-user.target
